body{
  margin:0;
  background:linear-gradient(to bottom,#001133,#003366);
  overflow:hidden;
  text-align:center;
  font-family:Arial;
  color:white;
}

h1{
  color:#7fffd4;
  margin-top:15px;
}

.story{
  width:80%;
  margin:auto;
  margin-bottom:10px;
  font-size:18px;
}

.game-container{
  display:flex;
  justify-content:center;
}

canvas{
  background:#4fc3f7;
  border:5px solid #7fffd4;
}

.controls{
  margin-top:10px;
  font-size:20px;
}
